* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "DejaVu Sans Mono", "monospace";
    font-size: 10px;
    touch-action: pan-x pan-y;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.border {
    stroke: black;
    stroke-width: 1;
}

.clickable {
    pointer-events: auto;
}

.unclickable {
    pointer-events: none;
}

#loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    color: rgb(50, 54, 57);
}

#filter {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 204, 207, 0.5);
}